<div class="modal fade" id="printQrModal" tabindex="-1" aria-labelledby="printQrModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CFF4FC;">
            <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke; text-align: center;">
            <h5 class="modal-title" id="printQrModalLabel" style="font-size: 30px;"> Reporte Contenedores </h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="font-size: 30px;">
                <h3>Orden de Trabajo #897810</h3>
                <div class="row g-2" style="padding-left: 8%;">
                    <div class="col-6">
                        <strong>Contenedor #1</strong>
                    </div>
                    <div class="col-5">
                        <strong>2.9 Kg</strong>
                    </div>
                    <div class="col-6">
                        <strong>Contenedor #2</strong>
                    </div>
                    <div class="col-5">
                        <strong>3.1 Kg</strong>
                    </div>
                    <div class="col-6">
                        <strong>Contenedor #3</strong>
                    </div>
                    <div class="col-5">
                        <strong>1.7 Kg</strong>
                    </div>
                    <div class="col-6">
                        <strong>Contenedor #4</strong>
                    </div>
                    <div class="col-5">
                        <strong>3.8 Kg</strong>
                    </div>
                    <div class="col-6">
                        <strong>Contenedor #5</strong>
                    </div>
                    <div class="col-5">
                        <strong>11.1Kg</strong>
                    </div>
                </div>
                <hr>
                <div style="text-align: center;">
                    <div style="text-align: center;">
                        <strong>
                            Formula: Kg * Sustancia
                        </strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div style="float: right;">
                    <a class="btn btn-primary"> Ok </a>
                </div>
            </div>
        </div>
    </div>
</div>