<div class="modal fade" id="successSubstanceModal" tabindex="-1" aria-labelledby="successSubstanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header-success">
                <h5 class="modal-title" id="successSubstanceModalLabel">Llenado de Sustancia</h5>
            </div>
            <div class="modal-body-success">
                <strong>
                    <b id="phrase_i_1"> El vertido de la sustancia ha sido completada. </b>
                    <br>
                    <b id="phrase_i_2"> A continuación, favor de vertir la sustancia dentro del contenedor de pintura. </b>
                </strong>
                <br>
            </div>
        </div>
    </div>
</div>