<div class="modal fade" id="errorInfoModal" tabindex="-1" aria-labelledby="errorInfoModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorInfoModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #f03a3a;">
                <strong style="font-size: 65px;" id="error_blank">
                    Datos solicitados faltantes. Favor de comprobar que los campos estén llenados.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorTareModal" tabindex="-1" aria-labelledby="errorTareModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorTareModalLabel" style="font-size: 50px;">Error de Conexión</h5>
            </div>
            <div class="modal-body" style="text-align: center;  background-color: #f03a3a;">
                <strong id="tare_body_error" style="font-size: 65px;">
                    Ha habido un error de comunicación con la báscula, favor de checar que la báscula este conecatada correctamente. Redirigiendo a la pantalla inicial.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorGraphModal" tabindex="-1" aria-labelledby="errorGraphModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorGraphModalLabel" style="font-size: 50px;">Error de Conexión</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #f03a3a;">
                <strong style="font-size: 65px;">
                    Ha habido un error de comunicación con la báscula. Se redirigira a la pantalla inicial. Favor de llamar al encargado de T.I.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorEmptyModal" tabindex="-1" aria-labelledby="errorEmptyModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorEmptyModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #f03a3a;">
                <strong style="font-size: 65px;">
                    <b style="font-size: 65px;" id="camp"> El campo </b> <strong id="field"> </strong> <b style="font-size: 65px;" id="camp_body_2"> esta vacio favor de llenar el campor para seguir el proceso. </b> 
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorExcessHumModal" tabindex="-1" aria-labelledby="errorExcessHumModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorExcessHumModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #f03a3a;">
                <strong id="humidity_error_perc" style="font-size: 65px;">
                    La humedad no puede ser mayor a 100 %, favor de ingresar una humedad valida.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorExcessTempModal" tabindex="-1" aria-labelledby="errorExcessTempModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorExcessTempModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #f03a3a;">
                <strong id="temperature_error_cel" style="font-size: 65px;">
                    La temperatura no puede ser mayor a 100 °C, favor de ingresar una temperatura valida.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorExcessViscoModal" tabindex="-1" aria-labelledby="errorExcessViscoModalModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorExcessViscoModalModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #f03a3a;">
                <strong id="viscosity_error_s" style="font-size: 65px;">
                    La viscosidad no puede ser menor a 0 s, favor de ingresar una viscosidad valida.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorSConnectModal" tabindex="-1" aria-labelledby="errorSConnectModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorSConnectModalLabel" style="font-size: 50px;">Error: Conexión</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #f03a3a;">
                <strong style="font-size: 65px;">
                    No se puede comunicar con el servidor, favor de revisar que el programa servidor este en ejecución. Vuelva a intentar de nuevo cuando se asegure que el servidor este en ejecución.
                </strong>
            </div>
        </div>
    </div>
</div>