<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CFF4FC;">
            <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke;">
            <h5 class="modal-title" id="infoModalLabel" style="font-size: 30px;"> Información </h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 30px;">
                A continuación, favor de poner el contenedor de pintura en la báscula. Favor de verter las jarras con las sustancias.
                </strong>
                <br>
                <button class="btn btn-primary mt-3" type="submit" style="float: right; width: 25%;"> Listo </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="infoViscoModal" tabindex="-1" aria-labelledby="infoViscoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CFF4FC;">
            <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke;">
            <h5 class="modal-title" id="infoViscoModalLabel" style="font-size: 30px;"> Información </h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 30px;">
                Favor de retirar el contenedor de pintura y colocar la jarra de la primera sustancia de la opción seleccionada.
                </strong>
                <br>
                <button class="btn btn-primary mt-3" type="submit" style="float: right; width: 25%;"> Listo </button>
            </div>
        </div>
    </div>
</div>