<div class="modal fade" id="tableViscoModal" tabindex="-1" aria-labelledby="tableViscoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="tableViscoModalLabel" style="font-size: 30px;"> Opciones de ajuste </h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 30px;">
                    Seleccione una de las opciones mostrada en la tabla para realizar el ajuste de viscosidad.
                </strong>
                <br>
                <button class="btn btn-primary mt-3" type="submit" style="float: right; width: 25%;" onclick="containerPaint()"> Seleccionar </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="weighModal" tabindex="-1" aria-labelledby="weighModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="weighModalLabel" style="font-size: 30px;"> Calibrando Báscula </h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 30px;">
                Se esta calibrando la báscula. Favor de esperar.
                </strong>
                <br>
                <button class="btn btn-primary mt-3" type="submit" style="float: right; width: 25%;"> Iniciar Llenado </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sustModal" tabindex="-1" aria-labelledby="sustModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <h5 class="modal-title" id="sustModalLabel" style="font-size: 25px;"> Vertir Sustancia </h5>
            </div>
            <div class="modal-body" style="font-size: 30px; text-align: center;">
                <h3>
                    Favor de vertir la sustancia <b> Diluyente. </b>
                </h3>
                <!-- <h3 style="float: left; padding-left: 10%;"> <b> 1.7 Kg </b> </h3>
                <h3 style="float: right; padding-right: 10%;"> <b> 67 % </b> </h3> -->
                <button class="btn btn-primary" type="submit" style="width: 100%;">Comenzar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="timerModal" tabindex="-1" aria-labelledby="timerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timerModalLabel" style="font-size: 25px;">Temporizador de Batido</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 58px;" id="timer"></strong>
                <br>
                <button class="btn btn-success mt-3" style="display: none; width: 65%;" id="btn-finish" onclick="addTemperature()">Terminar</button>
            </div>
        </div>
    </div>
</div>