<div class="keyboard-humidity" id="keyboard-humidity">
    <div class="row">
        <button class="btn-key-humidity" id="1">7</button>
        <button class="btn-key-humidity">8</button>
        <button class="btn-key-humidity">9</button>
        <button class="btn-key-humidity">0</button>
        <button class="btn-key-humidity">.</button>
    </div>
    <div class="row">
        <button class="btn-key-humidity">4</button>
        <button class="btn-key-humidity">5</button>
        <button class="btn-key-humidity">6</button>
        <button class="delete-humidity" id="delete">Supr</button>
    </div>
    <div class="row">
        <button class="btn-key-humidity">1</button>
        <button class="btn-key-humidity">2</button>
        <button class="btn-key-humidity">3</button>
        <button class="enter-humidity" id="enter-humidity">Enter</button>
    </div>
</div>