<div class="keyboard">
    <div class="row">
        <button id="alpha" class="btn">1</button>
        <button id="alpha" class="btn">2</button>
        <button id="alpha" class="btn">3</button>
        <button id="alpha" class="btn">4</button>
        <button id="alpha" class="btn">5</button>
        <button id="alpha" class="btn">6</button>
        <button id="alpha" class="btn">7</button>
        <button id="alpha" class="btn">8</button>
        <button id="alpha" class="btn">9</button>
        <button id="alpha" class="btn">0</button>
        <button id="delete-alpha" class="delete-alpha">Delete</button>
    </div>
    <div class="row">
        <button id="alpha" class="btn">.</button>
        <button id="alpha" class="btn">q</button>
        <button id="alpha" class="btn">w</button>
        <button id="alpha" class="btn">e</button>
        <button id="alpha" class="btn">r</button>
        <button id="alpha" class="btn">t</button>
        <button id="alpha" class="btn">y</button>
        <button id="alpha" class="btn">u</button>
        <button id="alpha" class="btn">i</button>
        <button id="alpha" class="btn">o</button>
        <button id="alpha" class="btn">p</button>
    </div>
    <div class="row">
        <button id="alpha" class="btn">#</button>
        <button id="alpha" class="btn">a</button>
        <button id="alpha" class="btn">s</button>
        <button id="alpha" class="btn">d</button>
        <button id="alpha" class="btn">f</button>
        <button id="alpha" class="btn">g</button>
        <button id="alpha" class="btn">h</button>
        <button id="alpha" class="btn">j</button>
        <button id="alpha" class="btn">k</button>
        <button id="alpha" class="btn">l</button>
        <button id="alpha" class="btn">ñ</button>
    </div>
    <div class="row">
        <button id="alpha" class="btn">z</button>
        <button id="alpha" class="btn">x</button>
        <button id="alpha" class="btn">c</button>
        <button id="alpha" class="btn">v</button>
        <button id="alpha" class="btn">b</button>
        <button id="alpha" class="btn">n</button>
        <button id="alpha" class="btn">m</button>
        <button id="shift-alpha" class="shift-alpha">Shift</button>
    </div>
    <div class="row">
        <button class="enter-alpha" onclick="authDepartament()">Enter</button>
    </div>
</div>