<div class="keyboard-viscosity" id="keyboard-viscosity">
    <div class="row">
        <button class="btn-key-viscosity">7</button>
        <button class="btn-key-viscosity">8</button>
        <button class="btn-key-viscosity">9</button>
        <button class="btn-key-viscosity">0</button>
        <button class="btn-key-viscosity">.</button>
    </div>
    <div class="row">
        <button class="btn-key-viscosity">4</button>
        <button class="btn-key-viscosity">5</button>
        <button class="btn-key-viscosity">6</button>
        <button class="delete-viscosity" id="delete">Supr</button>
    </div>
    <div class="row">
        <button class="btn-key-viscosity">1</button>
        <button class="btn-key-viscosity">2</button>
        <button class="btn-key-viscosity">3</button>
        <button class="enter-viscosity" id="enter-viscosity">Enter</button>
    </div>
</div>