<div class="keyboard-wo" id="keyboard-wo">
    <div class="row">
        <button class="btn-key-wo">7</button>
        <button class="btn-key-wo">8</button>
        <button class="btn-key-wo">9</button>
        <button class="btn-key-wo" id="cero">0</button>
    </div>
    <div class="row">
        <button class="btn-key-wo">4</button>
        <button class="btn-key-wo">5</button>
        <button class="btn-key-wo">6</button>
        <button class="delete-wo" id="delete">Supr</button>
    </div>
    <div class="row">
        <button class="btn-key-wo">1</button>
        <button class="btn-key-wo">2</button>
        <button class="btn-key-wo">3</button>
        <button class="enter-wo" id="enter-wo">Enter</button>
    </div>
</div>