<div class="keyboard-container" id="keyboard-container">
    <div class="row">
        <button class="btn-key-container">7</button>
        <button class="btn-key-container">8</button>
        <button class="btn-key-container">9</button>
        <button class="btn-key-container" id="cero">0</button>
    </div>
    <div class="row">
        <button class="btn-key-container">4</button>
        <button class="btn-key-container">5</button>
        <button class="btn-key-container">6</button>
        <button class="delete-container" id="delete-container">Supr</button>
    </div>
    <div class="row">
        <button class="btn-key-container">1</button>
        <button class="btn-key-container">2</button>
        <button class="btn-key-container">3</button>
        <button class="enter-container" id="enter-container">Enter</button>
    </div>
</div>   