<div class="keyboard-temp" id="keyboard-temp">
    <div class="row">
        <button class="btn-key-temp" id="1">7</button>
        <button class="btn-key-temp">8</button>
        <button class="btn-key-temp">9</button>
        <button class="btn-key-temp">0</button>
        <button class="btn-key-temp">.</button>
    </div>
    <div class="row">
        <button class="btn-key-temp">4</button>
        <button class="btn-key-temp">5</button>
        <button class="btn-key-temp">6</button>
        <button class="delete-temp" id="delete">Supr</button>
    </div>
    <div class="row">
        <button class="btn-key-temp">1</button>
        <button class="btn-key-temp">2</button>
        <button class="btn-key-temp">3</button>
        <button class="enter-temp" id="enter-temp">Enter</button>
    </div>
</div>