<!-- <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel" style="font-size: 25px;">Mensaje Error</h5>
            </div>
            <div class="modal-body" style="text-align: center; font-size: 25px;">
                <strong>
                    Un error a ocurrido, el componente escaneado no coincide. Por favor escanee el código de QR de nuevo.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorVModal" tabindex="-1" aria-labelledby="errorVModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorVModalLabel" style="font-size: 25px;">Error Validación</h5>
            </div>
            <div class="modal-body" style="text-align: center; font-size: 25px;">
                <strong>
                    Un error a ocurrido en el proceso de validación. Por favor escanee el código de barras de nuevo.
                </strong>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="errorInfoModal" tabindex="-1" aria-labelledby="errorInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="error">
            <div class="modal-header">
            <h5 class="modal-title" id="errorInfoModalLabel">Error</h5>
            </div>
            <div class="modal-body" id="error">
                <strong id="error-mis-01">
                    Datos solicitados faltantes. Favor de comprobar que los campos estén completos.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorKeyBoardModal" tabindex="-1" aria-labelledby="errorKeyBoardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="error">
            <div class="modal-header">
            <h5 class="modal-title" id="errorKeyBoardModalLabel">Error</h5>
            </div>
            <div class="modal-body" id="error">
                <strong id="error-mis-02">
                    Dato solicitante faltante. Favor de comprobar que el campo este lleno.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorLenghtModal" tabindex="-1" aria-labelledby="errorLenghtModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="error">
            <div class="modal-header">
            <h5 class="modal-title" id="errorLenghtModalLabel" style="font-size: 55px;">Error</h5>
            </div>
            <div class="modal-body" id="error">
                <strong id="error-body-wo">
                    La longitud de la Orden de Trabajo debe de ser de 10 caracteres, favor de ingresar una Orden de Trabajo valida.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorCeroModal" tabindex="-1" aria-labelledby="errorCeroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="error">
            <div class="modal-header">
            <h5 class="modal-title" id="errorCeroModalLabel">Error</h5>
            </div>
            <div class="modal-body" id="error">
                <strong id="error-body-pz">
                    El número de piezas no puede ser 0, favor de ingresar un número de piezas valido.
                </strong>
            </div>
        </div>
    </div>
</div>