<div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header-success">
                <h5 class="modal-title" id="successModalLabel">Proceso Completado</h5>
            </div>
            <div class="modal-body-success">
                <strong>
                    El vertido de la sustancia ha sido completada. 
                </strong>
                <br>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successPaintModal" tabindex="-1" aria-labelledby="successPaintModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header-success">
                <h5 class="modal-title" id="successPaintModalLabel">Llenado de Pintura</h5>
            </div>
            <div class="modal-body-success">
                <strong>
                    <b id="phrase_1"> El vertido de la pintura base ha sido completada. </b>
                    <br>
                    <b id="phrase_2"> A continuación, favor de vertir las sustancias anteriores dentro del contenedor de pintura. </b>
                </strong>
                <br>
            </div>
        </div>
    </div>
</div>