<div class="modal fade" id="graphWarnModal" tabindex="-1" aria-labelledby="graphWarnModalLabel" aria-hidden="true" style="color: black;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #d2b203;">
        <h5 class="modal-title" id="graphWarnModalLabel" style="font-size: 50px;"></h5>
      </div>
      <div class="modal-body" style="text-align: center; background-color: #f7d618;">
        <strong style="font-size: 65px;" id="errorBody">
        </strong>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="graphWarnPaintModal" tabindex="-1" aria-labelledby="graphWarnPaintModalLabel" aria-hidden="true" style="color: black;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #d2b203;">
        <h5 class="modal-title" id="graphWarnPaintModalLabel" style="font-size: 50px;"></h5>
      </div>
      <div class="modal-body" style="text-align: center; background-color: #f7d618;">
        <strong style="font-size: 65px;" id="errorPaintBody">
        </strong>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warningGraphModal" tabindex="-1" aria-labelledby="errorGraphModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #d2b203;">
        <h5 class="modal-title" id="errorGraphModalLabel" style="font-size: 50px;">Error de Conexión</h5>
      </div>
      <div class="modal-body" style="text-align: center; background-color: #c0a616;">
        <strong style="font-size: 65px;">
          Ha habido un error de comunicación con la báscula, favor de verificar que este conectada al equipo.
        </strong>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="viscoInfoModal" tabindex="-1" aria-labelledby="viscoInfoModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background-color: #FD650F;">
      <div class="modal-header">
        <h5 class="modal-title" id="viscoInfoModalLabel" style="font-size: 50px;">Verificación de datos: Viscosidad</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
        <h5 id="message-container" style="font-size: 65px;"> La Viscosidad ingresada es: <b id="value-input-visco" style="font-size: 65px; color: black;"> </b>. Si es correcta dar click en "Aceptar", sino dar click <b>"Editar"</b></h5>
        <div class="row-2">
          <button class="btn btn-success" onclick="addViscoCategory()" style="width: 45%; height: 80px; font-size: 50px">Aceptar</button>
          <button class="btn btn-danger" id="edit" value="0" style="width: 45%; height: 80px; font-size: 50px" data-bs-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ensureHumModal" tabindex="-1" aria-labelledby="ensureHumModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background-color: #FD650F;">
      <div class="modal-header">
        <h5 class="modal-title" id="ensureHumModalLabel" style="font-size: 50px;">Verificación de datos: Humedad</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
        <h5 id="message-container" style="font-size: 65px;"> La Humedad ingresada es: <b id="value-input-hum" style="font-size: 65px; color: black;"> </b>. Si es correcta dar click en "Aceptar", sino dar click en de dar click en <b>"Editar"</b></h5>
        <div class="row-2">
          <button class="btn btn-success" onclick="addHumCategory()" style="width: 45%; height: 80px; font-size: 50px">Aceptar</button>
          <button class="btn btn-danger" id="edit" value="0" style="width: 45%; height: 80px; font-size: 50px" data-bs-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ensureInfoModal" tabindex="-1" aria-labelledby="ensureContainerModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background-color: #FD650F;">
      <div class="modal-header">
        <h5 class="modal-title" id="ensureContainerModalLabel" style="font-size: 50px;">Verificación de datos: Temperatura</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
        <h5 id="message-container" style="font-size: 65px;"> La Temperatura ingresada es: <b id="value-input-temp" style="font-size: 65px; color: black;"> </b>. Si es correcta dar click en "Aceptar", sino dar click en <b>"Editar"</b></h5>
        <div class="row-2">
          <button class="btn btn-success" onclick="addTempCategory()" style="width: 45%; height: 80px; font-size: 50px">Aceptar</button>
          <button class="btn btn-danger" id="edit" value="0" style="width: 45%; height: 80px; font-size: 50px" data-bs-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
      
<div class="modal fade" id="substanceCadModal" tabindex="-1" aria-labelledby="substanceCadModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background-color: #FD650F;">
      <div class="modal-header">
        <h5 class="modal-title" id="substanceCadModalLabel" style="font-size: 50px;">Sustancia Vencida</h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
        <h5 id="message-container" style="font-size: 65px;">La sustancia esta vencidad</b></h5>              
      </div>
      <div class="row-2">
        <button class="btn btn-success" onclick="tryAnother()" style="width: 45%; height: 80px; font-size: 50px">Probar Otro QR</button>
        <button class="btn btn-danger" onclick="releasedSubstance()" id="edit" value="0" style="width: 45%; height: 80px; font-size: 50px" data-bs-dismiss="modal">Liberar</button>
      </div>
      </div>
  </div>
</div>


<div class="modal fade" id="grLevelLibeModal" tabindex="-1" aria-labelledby="grLevelLibeModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="background-color: #FD650F;">
      <div class="modal-header">
        <h5 class="modal-title" id="grLevelLibeModalLabel" style="font-size: 50px;">Liberación de Peso Mínimo</h5>
      </div>
      <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
        <h5 id="message-container" style="font-size: 65px;">La tolerancia de este componente es menor a la resolución de la bascula. Para liberar favor de llamar al Team Leader para que escanee su código de barras</b></h5>
      </div>
      <div class="row-2">
        <button class="btn btn-danger" onclick="release()" id="edit" value="0" style="width: 45%; height: 80px; font-size: 50px" data-bs-dismiss="modal">Liberar</button>
        <button class="btn btn-success" onclick="backGraph()" style="width: 45%; height: 80px; font-size: 50px">Regresar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="smallWeightModal" tabindex="-1" aria-labelledby="smallWeightModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #d2b203;">
            <h5 class="modal-title" id="smallWeightModalLabel" style="font-size: 50px;">Detección Caso Especial </h5>
          </div>
          <div class="modal-body" style="text-align: center; background-color: #c0a616;">
              <strong style="font-size: 65px;">
                  Se ha detectado un caso especial de peso pequeño ocurrido por la limitación de resolución de la báscula.
              </strong>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="tempLimitsModal" tabindex="-1" aria-labelledby="tempLimitsModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #FD650F;">
            <h5 class="modal-title" id="tempLimitsModalLabel" style="font-size: 50px;"> Limite Temperatura Sobrepasado </h5>
          </div>
          <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
              <strong style="font-size: 65px;">
                  La temperatura ingresada esta fuera del rango permitido (20°C - 24°C). Favor de llamar al Ing. Heber para desbloqueo.
              </strong>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="humLimitsModal" tabindex="-1" aria-labelledby="humLimitsModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #FD650F;">
            <h5 class="modal-title" id="humLimitsModalLabel" style="font-size: 50px;">Limite Humedad Sobrepasado</h5>
          </div>
          <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
              <strong style="font-size: 65px;">
                  La humedad ingresada esta fuera del rango permitido (30% - 70%). Favor de llamar al Ing. Heber para desbloqueo.
              </strong>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="bothLimitsModal" tabindex="-1" aria-labelledby="bothLimitsModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #FD650F;">
            <h5 class="modal-title" id="bothLimitsModalLabel" style="font-size: 50px;">Limites Sobrepasados </h5>
          </div>
          <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
              <strong style="font-size: 65px;">
                  La humedad (30% - 70%) y temperatura (20°C - 24°C) ingresadas están fuera del rango permitido. Favor de llamar al Ing. Heber para desbloqueo.
              </strong>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="credentialsAssistantModal" tabindex="-1" aria-labelledby="credentialsAssistantModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #FD650F;">
            <h5 class="modal-title" id="credentialsAssistantModalLabel" style="font-size: 50px;">Escaneo Trabajador </h5>
          </div>
          <div class="modal-body" style="text-align: center; background-color: #eb8348ee;">
              <strong style="font-size: 65px;">
                  Favor de escanear código de barras del Ing. Heber para liberar.
              </strong>
          </div>
      </div>
  </div>
</div>