<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #CC0000;">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel" style="font-size: 30px;">Error</h5>
        </div>
        <div class="modal-body" style="text-align: center;">
            <strong style="font-size: 30px;">
              Mensaje Error: El trabajador no se encuentra. Favor de intentarlo de nuevo.
            </strong>
            
            <h3 style="padding-top: 5%; float: right;">Intentos: 1/2</h3>
        </div>
      </div>
    </div>
</div>
    
<div class="modal fade" id="errorDownModal" tabindex="-1" aria-labelledby="errorDownModalLabel" aria-hidden="true" style="color: whitesmoke;">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #CC0000;">
      <div class="modal-header">
        <h5 class="modal-title" id="errorDownModalLabel" style="font-size: 30px;">Error</h5>
      </div>
      <div class="modal-body" style="text-align: center;">
          <strong style="font-size: 30px;">
            Mensaje Error: Error a descargar la información de la OT y Contenedor.
          </strong>
      </div>
    </div>
  </div>
</div>
