<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-keyboard="false" id="CredentialsModal" tabindex="-1" aria-labelledby="CredentialsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CredentialsModalLabel" style="font-size: 55px;">Moriroku</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center;">
        <strong id="body-process-cred" style="font-size: 80px;">
          Para acceder al procedimiento seleccionado, escanee el código de barras del trabajador.
        </strong>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-keyboard="false" id="CredentialsZPLModal" tabindex="-1" aria-labelledby="CredentialsZPLModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CredentialsZPLModalLabel" style="font-size: 55px;">Moriroku</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center;">
        <strong id="reprintBodyModal" style="font-size: 80px;">
          Para acceder a reimprimir etiqueta, escanee el código de barras del trabajador.
        </strong>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="containerModal" tabindex="-1" aria-labelledby="containerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="containerModalLabel" style="font-size: 30px;">Verificación QR</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center;">
          <strong style="font-size: 30px;">
            Esperando lectura del código QR del contenedor.
          </strong>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadModalLabel" style="font-size: 30px;">Descargando OT</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center;">
          <strong style="font-size: 30px;">
            Descargando información de la OT y del contenedor. Favor de esperar.
          </strong>
      </div>
    </div>
  </div>
</div>