<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel" style="font-size: 25px;">Mensaje Error</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="text-align: center; font-size: 25px;">
                <strong>
                    Un error a ocurrido, el componente escaneado no coincide. Por favor escanee el código de QR de nuevo.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorVModal" tabindex="-1" aria-labelledby="errorVModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorVModalLabel" style="font-size: 25px;">Error Validación</h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="text-align: center; font-size: 25px;">
                <strong>
                    Un error a ocurrido en el proceso de validación. Por favor escanee el código de barras de nuevo.
                </strong>
            </div>
        </div>
    </div>
</div>