<div class="modal fade" id="errorContainerModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel" style="font-size: 25px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center; font-size: 25px;">
                <strong id="body-e1" style="font-size: 65px;">
                    Se ha producido un error en el proceso de encontrar el contenedor, vuelva a intentar de nuevo.
                    <br>
                </strong>
                <strong id="body-e2" style="font-size: 65px;">
                    Redirigiendo a la pantalla inicial
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="machineIdModal" tabindex="-1" aria-labelledby="machineIdModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
                <h5 class="modal-title" id="machineIdModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 65px;">
                    El identificador del código QR leido no coincide con la maquina, favor de realizar el proceso de mejora de la mezcla en la otra maquina.
                    <br>
                </strong>
                <strong id="body-e2" style="font-size: 65px;">
                    Redirigiendo a la pantalla inicial
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reworkErrorModal" tabindex="-1" aria-labelledby="reworkErrorModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
                <h5 class="modal-title" id="reworkErrorModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 65px;">
                    La etiqueta escaneada no necesita el proceso de mejora de la mezcla.
                    <br>
                </strong>
                <strong id="body-e2" style="font-size: 65px;">
                    Redirigiendo a la pantalla inicial
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="colorErrorModal" tabindex="-1" aria-labelledby="colorErrorModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
                <h5 class="modal-title" id="colorErrorModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 65px;">
                    El color no se encuentra dentro de los registros, favor de verificar que el color este registrado.
                    <br>
                </strong>
                <strong id="body-e2" style="font-size: 65px;">
                    Redirigiendo a la pantalla inicial
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viscosityErrorModal" tabindex="-1" aria-labelledby="viscosityErrorModalLabel" aria-hidden="true" style="color: whitesmoke;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CC0000;">
            <div class="modal-header">
                <h5 class="modal-title" id="viscosityErrorModalLabel" style="font-size: 50px;">Error</h5>
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 65px;">
                    La viscosidad actual no esta por encima del límite máximo.
                    <br>
                </strong>
                <strong id="body-e2" style="font-size: 65px;">
                    Redirigiendo a la pantalla inicial
                </strong>
            </div>
        </div>
    </div>
</div>