<div class="modal fade" id="viscosityModal" tabindex="-1" aria-labelledby="viscosityModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="background-color: #CFF4FC;">
        <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke;">
          <h5 class="modal-title" id="viscosityModalLabel" style="font-size: 55px;">Moriroku</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" style="font-size: 33px;" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <strong id="worker-scan-body" style="font-size: 65px;">
            Para acceder al procedimiento de mejora de mezclado, escanee el código de barras del trabajador.
          </strong>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="containerReadModal" tabindex="-1" aria-labelledby="containerReadModalLabel" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="containerReadModalLabel" style="font-size: 55px;">Moriroku</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" style="font-size: 33px;" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <strong id="container-scan-body" style="font-size: 65px;">
            Favor de escanear el QR del contenedor que se mejorara la mezcla.
          </strong>
        </div>
      </div>
    </div>
</div>
  