<div class="modal fade" id="errorContainerModal" tabindex="-1" aria-labelledby="errorContainerModalLabel" aria-hidden="true" style="color: black;">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #d2b203;">
          <h5 class="modal-title" id="errorContainerModalLabel" style="font-size: 50px; ">Error de Contenedor</h5>
        </div>
        <div class="modal-body" style="text-align: center; background-color: #c9b754;">
            <strong id="body-p1" style="font-size: 65px;">
              No se ha encontrado el contenedor dentro de los registros.
              <br>
            </strong>
            <strong id="body-p2" style="font-size: 65px;">
              Redirigiendo a la pantalla inicial
            </strong>
        </div>
      </div>
    </div>
</div>