<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="infoMixModal" tabindex="-1" aria-labelledby="infoMixModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="info">
            <div class="modal-header">
                <h5 class="modal-title" id="infoMixModalLabel">Datos de Mezcla</h5>
            </div>
            <div class="modal-body" id="info">
                <!-- <h5 id="message-worker-info">Verifique si los datos ingresados son correctos.</h5> -->
                <div id="subs-visco" class="row g-2">
                    <div class="col-6">
                        <dt id="color_label">Color:</dt>
                        <dd id="color-name-improved"></dd>
                    </div>
                    <div class="col-6">
                        <dt id="viscosity_label">Viscosidad:</dt>
                        <dd id="viscosity_improved"></dd>
                    </div>
                </div>
                <div class="row g-2 mt-4">
                    <button class="btn btn-success" id="improvementS">Iniciar</button>
                    <button class="btn btn-danger" id="improvementClose" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>