{% extends 'layout/base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-2">Datos de los Contenedores: </h1>
  <hr class="my-4">
  <table class ="blueTable">
    <thead>
      <tr>
        <th>id</th>
        <th>id Proceso</th>
        <th>Viscosidad</th>
        <th>Inicio</th>
        <th>Fin</th>
      </tr>
    </thead>
    <tbody>
    {% for cont in containers %}
      <tr>
        <td>{{cont.id}}</td>
        <td>{{cont.id_process}}</td>
        <td>{{cont.viscosity}}</td>
        <td>{{cont.t_start}}</td>
        <td>{{cont.t_end}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}