<div class="modal fade" id="infoSubstanceModal" tabindex="-1" aria-labelledby="infoSubstanceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #CFF4FC;">
            <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke;">
            <h5 class="modal-title" id="infoSubstanceModalLabel" style="font-size: 30px;"> Información </h5>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="text-align: center;">
                <strong style="font-size: 30px;">
                A continuación, favor de vertir las sustancias de las jarras anteriores.
                </strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: #CFF4FC;">
            <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke; text-align: center;">
                <h5 class="modal-title" id="reportModalLabel" style="font-size: 30px; text-align: center;"> Reporte Final: Contenedor #1 </h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body" style="font-size: 25px;">
                <h3>Nombre del Operador: <b id="OPName">Heber Hernandez Castillo</b> <b style="float: right; margin-right: 2%;">RS</b> </h3>
                <div class="row g-3 mt-3">
                    <div class="col-4">
                        <dt><h3>Orden de Trabajo</h3></dt>
                        <dd>
                            <div class="row g-2">
                                <div class="col">
                                    <p id="OT"> POM897YHS </p>
                                </div>
                            </div>
                        </dd>
                    </div>
                    <div class="col-4">
                        <dt>Fecha</dt>
                        <dd>
                            <div class="row g-2">
                                <div class="col">
                                    <p>22/Junio/2022</p>
                                </div>
                            </div>
                        </dd>
                    </div>
                    <div class="col-4">
                        <dt>Hora Inicio/Fin</dt>
                        <dd>
                            <div class="row g-2">
                                <div class="col">
                                <p>16:18 - 16:55</p>
                                </div>
                            </div>
                        </dd>
                    </div>                    
                </div>
                <div class="row g-4">
                    <div class="col-3">
                        <dt>Componente #1</dt>
                        <dd>
                            <div class="row g-2">
                                <div class="col">
                                    Diluyente &nbsp 2.9 g
                                </div>
                            </div>
                        </dd>
                    </div>
                    <div class="col-3">
                        <dt>Componente #2</dt>
                        <dd>
                            <div class="row g-2">
                                <div class="col">
                                    Diluyente &nbsp 3.1 g
                                </div>
                            </div>
                        </dd>
                    </div>
                    <div class="col-3">
                        <dt>Componente #3</dt>
                        <dd>
                            <div class="row g-2">
                                <div class="col">
                                    Diluyente &nbsp 1.7 g
                                </div>
                            </div>
                        </dd>
                    </div>
                    <div class="col-3">
                        <dt>Componente #4</dt>
                        <dd>
                            <div class="row g-2">
                                <div class="col">
                                    Diluyente &nbsp 2.8 g
                                </div>
                            </div>
                        </dd>
                    </div>
                </div>
                <div id="qr" class="mt-3">
                    
                </div>
                <div>
                    <button class="btn btn-secondary" type="submit" style="display: block; width: 60%; margin-left: auto; margin-right: auto; margin-top: 1%;">Imprimir</button>
                </div>
            </div>
        </div>
    </div>
</div>