<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #157347;">
                <h5 class="modal-title" id="successModalLabel" style="font-size: 25px;">Proceso Completado</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #5fe2a5;">
                <strong style="font-size: 58px;">
                    El vertido de la sustancia ha sido completada. 
                </strong>
                <br>            
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successPaintModal" tabindex="-1" aria-labelledby="successPaintModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #157347;">
                <h5 class="modal-title" id="successPaintModalLabel" style="font-size: 25px;">Llenado de Pintura</h5>
            </div>
            <div class="modal-body" style="text-align: center; background-color: #5fe2a5;">
                <strong style="font-size: 58px;">
                    El vertido de la pinturaa ha sido completada. 
                </strong>
                <br>            
            </div>
        </div>
    </div>
</div>