<div class="modal fade" id="graphWarnModal" tabindex="-1" aria-labelledby="graphWarnModalLabel" aria-hidden="true" style="color: black;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #d2b203;">
          <h5 class="modal-title" id="graphWarnModalLabel" style="font-size: 30px;"></h5>
        </div>
        <div class="modal-body" style="text-align: center; background-color: #f7d618;">
            <strong style="font-size: 30px;" id="errorBody">
            </strong>
        </div>
      </div>
    </div>
</div>