<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #CFF4FC;">
        <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke;">
          <h5 class="modal-title" id="infoModalLabel" style="font-size: 30px;"> Información </h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body" style="text-align: center;">
            <strong style="font-size: 30px;">
              A continuación, se deberá escanear el código de barras del trabajador que desee acceder al proceso. Favor de esperar a que se muestre la proxima instrucción
            </strong>
        </div>
      </div>
    </div>
</div>
    
<div class="modal fade" id="infoQRModal" tabindex="-1" aria-labelledby="infoQRModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #CFF4FC;">
      <div class="modal-header" style="background-color: #0B5ED7; color: whitesmoke;">
        <h5 class="modal-title" id="infoQRModalLabel" style="font-size: 30px;"> Información </h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body" style="text-align: center;">
          <strong style="font-size: 30px;">
            A continuación, se deberá leer el código de barras/QR del contenedor.
          </strong>
      </div>
    </div>
  </div>
</div>