<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" style="color: black;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #d2b203;">
          <h5 class="modal-title" id="errorModalLabel" style="font-size: 30px; ">Error de Validación</h5>
        </div>
        <div class="modal-body" style="text-align: center; background-color: #f7d618;">
            <strong style="font-size: 30px;">
              Se ha producido un error en el proceso de validación. Vuelva a escanear el código de barras.
            </strong>
        </div>
      </div>
    </div>
</div>